.bg-charts{
    background-color:#1B2745;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    height: 95%;
    width:90%;
    border-radius:1em;
    border: 1px solid;
    color: #fff;
    
}
.custom-tooltip{
    width:8em;
    height: 3em;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.324);
    font-size: 0.6em;
    
}