.bg-Devicecontrol{
    background-color:#1B2745;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 95%;
    width:88%;
    border-radius:1em;
    border: 1px solid;

    
}
.Status{
 
    width:60%;
    height:100%;
}
.Status-title{
    
    width:100%;
    height:30%;
    font-weight:lighter;
    font-family: "Open Sans";
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}
.Status-area{
   
    width:100%;
    height:70%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Status-content{
   
    width:80%;
    height:100%;
    list-style-type:none;
    align-items:center;
    flex-direction: column;
    display:flex;
    
    font-weight:lighter;
    font-family: "Open Sans";
    font-size: 0.8em;
}


.Status-content li{
   
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
}


.Control{
    
    width:40%;
    height:100%;
}
.Control-title{
   
    height:25%;
    display: flex;
    align-items:center;
    justify-content: space-around;
    font-weight:lighter;
    font-family: "Open Sans";
    font-size: 0.8em;
}
.Control-buttons-area{

    height:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.Control-button-start{
    width:5em;
    height:1.5em;
    border:1px solid;
    border-radius: 50em;
    background-color:green;
    font-weight:lighter;
    font-family: "Open Sans";
    color:white;
}
.Control-button-stop{
    width:5em;
    height:1.5em;
    border:1px solid;
    border-radius: 50em;
    background-color:rgb(255, 0, 0);
    font-weight:lighter;
    font-family: "Open Sans";
    color:white;
}
.Control-status-area{
  
    height:25%;
    display: flex;
    align-items:center;
    justify-content: center;
    color:#8B9CFA;
}
.point-status-green{
    width:0.5em;
    height:0.5em;
    border-radius: 5em;
    background-color:green;
    margin-right:0.5em;

}
.point-status-yellow{
    width:0.5em;
    height:0.5em;
    border-radius: 5em;
    background-color:yellow;
    margin-right:0.5em;


}