.bg-Devicecontrol{
    background-color:#1B2745;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95%;
    width:88%;
    border-radius:1em;
    border: 1px solid;

    
}